a {
    text-decoration:none;
}

.rubrik, .headline {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cadetblue;
}

.rubrik {
font-family:Arial, Helvetica, sans-serif;
}
