a {
    text-decoration:none;
}

.headline {
    font-family: 'brush script mt';
    color:rgba(95, 158, 160, 0.527);
    font-size: 100px;
    font-weight: lighter;
}

.smaller {
font-size: 50px;
color: rgba(95, 158, 160, 0.9);
}

.image.large {
    height: auto;
    width:400px;
}