* {box-sizing:border-box;
    background-color:#efdca6;
}

a {
    text-decoration:none;
}

ul {
    list-style-type: none;
    text-align:center;
  }

.headline {
    text-align:center;
    font-family: 'brush script mt';
    color:rgba(95, 158, 160, 0.527);
    font-size: 200px;
    font-weight: lighter;
    margin-bottom: -300px;
}

.smaller {
    font-family: 'Arial Black';
    font-size: 50px;
    color: rgba(42, 70, 71, 0.871);
    background-color:transparent;
}
